*{
    margin: 0;
}
.b1{
    background-color: rgb(242, 244, 237);
    height:100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/531/951/621/digital-digital-art-artwork-illustration-minimalism-hd-wallpaper-preview.jpg);
    background-size: cover;
}
.f1{
    height: 400px;
    width: 400px;
    border: 3px solid rgb(249, 240, 240);
    border-radius: 10%;
}
.lis1{
    position: absolute;
    display: flex;
    margin-left: 1000px;
    margin-bottom: 600px;
}
.lis1 button{
   font-size: larger;
   margin-left: 40px;
   background-color: transparent;
   border: 0;
   color: azure;
}
.lis1 button:hover{
    border-bottom: 3px solid red;
}
.items{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur;
}
.items1{
    display: flex;
    flex-direction: column;
    color: azure;
}
.items1 input{
    padding: 10px;
    border: 0;
    outline: none;
    background-color: transparent;
    border-bottom:3px solid rgb(246, 241, 239);
    color: azure;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    backdrop-filter: blur;
}
.items2{
    display: flex;
    flex-direction: column;
    color: azure;
}
.item input{
    padding: 15px;
    border: 0;
    border-bottom:3px solid rgb(255, 251, 250);
    background-color: transparent;
    color: azure;
}
.f2{
    height: 400px;
    width: 400px;
    border: 3px solid rgb(254, 253, 253);
    border-radius: 10%;
    
}
.items2 input{
    padding: 10px;
    outline: none;
    width: 100%;
}

@keyframes rotate-border {
    20% { border-color: red; }
    25% { border-color: blue; }
    50% { border-color: green; }
    75% { border-color: yellow; }
    100% { border-color: red; }
  }